@mixin heading-vars($isDark) {
  div.#{$theme-name} {
    --md-theme-link-color: #{$link-color};
    --md-theme-link-hover-color: #{$link-active-color};
  }
}

.#{$prefix} {
  @include heading-vars(false);
}

div.#{$theme-name} {
  a {
    display: inline-block;
    border-bottom: 1px solid $link-color;

    &:hover,
    &:active {
      border-bottom: 1px solid $link-active-color;
    }
  }
}
