@use '../scss-vars' as sv;

div.#{sv.$theme-name} {
  ol,
  ul {
    li {
      margin-block-end: 0;
      list-style: inherit;
      & .task-list-item {
        list-style: none;
        ul,
        ol {
          margin-block-start: 0;
        }
      }
    }

    ul,
    ol {
      margin-block-start: 3px;
    }
  }
  ol li {
    padding-inline-start: 6px;
  }
}
