@use '../../../common/scss-vars' as csv;
@use '../scss-vars' as sv;

@mixin table-vars($isDark) {
  div.#{sv.$theme-name} {
    --md-theme-table-color: #{if($isDark, inherit, #000)};
    // 边框
    --md-theme-table-border-color: #{if($isDark, #1c1c1c, #f6f6f6)};
    --md-theme-table-thead-bg-color: #{if($isDark, #1c1c1ca1, #f6f6f6)};
    // 斑马条纹
    --md-theme-table-stripe-color: #{if($isDark, #1c1c1ca1, #fcfcfc)};
  }
}

.#{csv.$prefix} {
  @include table-vars(false);
}

.#{csv.$prefix}-dark {
  @include table-vars(true);
}

div.#{sv.$theme-name} {
  table {
    display: inline-block;
    // font-size: 14px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: solid 1px var(--md-theme-table-border-color);

    thead {
      background-color: var(--md-theme-table-thead-bg-color);
      color: var(--md-theme-table-color);
      text-align: left;
    }
    tr {
      th,
      td {
        padding: 12px 7px;
        line-height: 24px;
        border: none;
      }
      td {
        min-width: 120px;
      }
    }
  }

  // 引用中的表格
  blockquote {
    table {
      tbody {
        color: var(--md-theme-color);
      }

      tr {
        background-color: var(--md-theme-table-stripe-color);
      }
    }
  }
}
