@mixin table-vars($isDark) {
  .#{$theme-name} {
    --mk-cute-theme-table-color: #{if($isDark, inherit, #000)};
    // 边框
    --mk-cute-theme-table-border-color: #{if($isDark, #1c1c1c, #f6f6f6)};
    --mk-cute-theme-table-thead-bg-color: #{if($isDark, #1c1c1ca1, #f6f6f6)};
    // 斑马条纹
    --mk-cute-theme-table-stripe-color: #{if($isDark, #1c1c1ca1, #fcfcfc)};
  }
}

.#{$prefix} {
  @include table-vars(false);
}

.#{$prefix}-dark {
  @include table-vars(true);
}

.#{$theme-name} {
  table {
    display: inline-block !important;
    // font-size: 14px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: solid 1px var(--mk-cute-theme-table-border-color);
  }
  thead {
    background-color: var(--mk-cute-theme-table-thead-bg-color);
    color: var(--mk-cute-theme-table-color);
    text-align: left;
  }
  tr:nth-child(2n) {
    background-color: var(--mk-cute-theme-table-stripe-color);
  }
  th,
  td {
    padding: 12px 7px;
    line-height: 24px;
  }
  td {
    min-width: 120px;
  }
}
