.md-scrn span[rn-wrapper] {
  position: absolute;
  pointer-events: none;
  top: 1em;
  font-size: 100%;
  left: 0;
  width: 3em;
  letter-spacing: -1px;
  user-select: none;
  counter-reset: linenumber;
}
.md-scrn span[rn-wrapper] > span {
  display: block;
  pointer-events: none;
  counter-increment: linenumber;
}
.md-scrn span[rn-wrapper] > span::before {
  color: #999;
  display: block;
  padding-right: 0.5em;
  text-align: right;
  content: counter(linenumber);
}
.md-scrn pre code {
  padding-left: 3.5em !important;
}

.github-theme {
  line-height: 1.5;
}
.github-theme ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.github-theme ::-webkit-scrollbar-corner,
.github-theme ::-webkit-scrollbar-track {
  background-color: #e2e2e2;
  border-radius: 2px;
}
.github-theme ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
.github-theme ::-webkit-scrollbar-button:vertical {
  display: none;
}
.github-theme ::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
.github-theme ::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.38);
}
.github-theme h1,
.github-theme h2,
.github-theme h3,
.github-theme h4,
.github-theme h5,
.github-theme h6 {
  position: relative;
}
.github-theme h1 a,
.github-theme h2 a,
.github-theme h3 a,
.github-theme h4 a,
.github-theme h5 a,
.github-theme h6 a {
  color: inherit;
}
.github-theme h1 a:hover,
.github-theme h2 a:hover,
.github-theme h3 a:hover,
.github-theme h4 a:hover,
.github-theme h5 a:hover,
.github-theme h6 a:hover {
  color: inherit;
  text-decoration: none;
}
.github-theme pre,
.github-theme code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  color: #24292f;
}
.github-theme pre code {
  display: block;
}
.github-theme pre code .code-block {
  display: inline-block;
  width: 100%;
  overflow: auto;
}
.github-theme hr {
  height: 1px;
  margin: 10px 0;
  border: none;
  border-top: 1px solid #eaecef;
}
.github-theme div[inline] > figure {
  display: inline-block;
  padding-right: 0.5em;
}
.github-theme div[inline] > figure img {
  padding: 0;
  border: none;
}
.github-theme h1,
.github-theme h2,
.github-theme h3,
.github-theme h4,
.github-theme h5,
.github-theme h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.github-theme h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #d9dee4;
}
.github-theme h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d9dee4;
}
.github-theme h3 {
  font-size: 1.25em;
}
.github-theme h4 {
  font-size: 1em;
}
.github-theme h5 {
  font-size: 0.875em;
}
.github-theme h6 {
  font-size: 0.85em;
  color: #2d3339;
}
.github-theme a {
  text-decoration: none;
  color: #539bf5;
}
.github-theme a:hover {
  text-decoration: underline;
}
.github-theme img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.github-theme figure {
  margin: 0;
}
.github-theme figure figcaption {
  color: #888;
  text-align: center;
  font-size: 0.875em;
  margin-top: 5px;
}
.github-theme p,
.github-theme blockquote,
.github-theme ul,
.github-theme ol,
.github-theme dl,
.github-theme table,
.github-theme pre,
.github-theme details {
  margin-top: 0;
  margin-bottom: 16px;
}
.github-theme p:empty {
  display: none;
}
.github-theme code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: #eff1f2;
  border-radius: 6px;
}
.github-theme blockquote {
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}
.github-theme pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  position: relative;
}
.github-theme pre code {
  position: relative;
  padding: 1em;
  line-height: 1.45;
  margin-bottom: 0;
  word-break: normal;
  letter-spacing: 1px;
}
.github-theme pre .copy-button {
  color: #999;
  position: absolute;
  font-size: 12px;
  top: 9px;
  right: 10px;
  cursor: pointer;
  display: none;
}
.github-theme pre:hover .copy-button {
  display: initial;
}
.github-theme table {
  display: block;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.github-theme table tr {
  background-color: #fff;
  border-top: 1px solid #d8dee4;
}
.github-theme table tr th,
.github-theme table tr td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}
.github-theme table tr:nth-child(2n) {
  background-color: #f7f8fa;
}
.github-theme ol,
.github-theme ul {
  padding-left: 2em;
}
.github-theme ol li + li,
.github-theme ul li + li {
  margin-top: 0.25em;
}

.md-dark .github-theme {
  color: #c9d1d9;
}
.md-dark .github-theme ::-webkit-scrollbar-corner,
.md-dark .github-theme ::-webkit-scrollbar-track {
  background-color: #0f0f0f;
}
.md-dark .github-theme ::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
}
.md-dark .github-theme ::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #3a3a3a;
}
.md-dark .github-theme ::-webkit-scrollbar-thumb:vertical:active {
  background-color: #3a3a3a;
}
.md-dark .github-theme hr {
  border-color: #2d2d2d;
}
.md-dark .github-theme h1,
.md-dark .github-theme h2 {
  border-bottom: 1px solid #373e47;
}
.md-dark .github-theme img {
  border-color: #2d2d2d;
}
.md-dark .github-theme blockquote {
  border-color: #444c56;
  color: #8b949e;
  background-color: initial;
}
.md-dark .github-theme code {
  background-color: #2d3339;
  color: #c9d1d9;
}
.md-dark .github-theme pre {
  background-color: #2d333b;
}
.md-dark .github-theme pre code {
  color: #a9b7c6;
  background-color: #161b22;
}
.md-dark .github-theme pre .copy-button {
  color: #999;
}
.md-dark .github-theme pre::before {
  background-color: #1a1a1a;
}
.md-dark .github-theme table tr {
  background-color: transparent;
  border-color: #808080;
}
.md-dark .github-theme table tr th,
.md-dark .github-theme table tr td {
  border-color: #30363d;
}
.md-dark .github-theme table tr:nth-child(2n) {
  background-color: #161b22;
}