.md-scrn span[rn-wrapper] {
  position: absolute;
  pointer-events: none;
  top: 1em;
  font-size: 100%;
  left: 0;
  width: 3em;
  letter-spacing: -1px;
  user-select: none;
  counter-reset: linenumber;
}
.md-scrn span[rn-wrapper] > span {
  display: block;
  pointer-events: none;
  counter-increment: linenumber;
}
.md-scrn span[rn-wrapper] > span::before {
  color: #999;
  display: block;
  padding-right: 0.5em;
  text-align: right;
  content: counter(linenumber);
}
.md-scrn pre code {
  padding-left: 3.5em !important;
}

.vuepress-theme {
  font-size: 16px;
  color: #304455;
}
.vuepress-theme ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.vuepress-theme ::-webkit-scrollbar-corner,
.vuepress-theme ::-webkit-scrollbar-track {
  background-color: #e2e2e2;
  border-radius: 2px;
}
.vuepress-theme ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
.vuepress-theme ::-webkit-scrollbar-button:vertical {
  display: none;
}
.vuepress-theme ::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
.vuepress-theme ::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.38);
}
.vuepress-theme h1,
.vuepress-theme h2,
.vuepress-theme h3,
.vuepress-theme h4,
.vuepress-theme h5,
.vuepress-theme h6 {
  position: relative;
}
.vuepress-theme h1 a,
.vuepress-theme h2 a,
.vuepress-theme h3 a,
.vuepress-theme h4 a,
.vuepress-theme h5 a,
.vuepress-theme h6 a {
  color: inherit;
}
.vuepress-theme h1 a:hover,
.vuepress-theme h2 a:hover,
.vuepress-theme h3 a:hover,
.vuepress-theme h4 a:hover,
.vuepress-theme h5 a:hover,
.vuepress-theme h6 a:hover {
  color: inherit;
  text-decoration: none;
}
.vuepress-theme pre,
.vuepress-theme code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  color: #24292f;
}
.vuepress-theme pre code {
  display: block;
}
.vuepress-theme pre code .code-block {
  display: inline-block;
  width: 100%;
  overflow: auto;
}
.vuepress-theme hr {
  height: 1px;
  margin: 10px 0;
  border: none;
  border-top: 1px solid #eaecef;
}
.vuepress-theme div[inline] > figure {
  display: inline-block;
  padding-right: 0.5em;
}
.vuepress-theme div[inline] > figure img {
  padding: 0;
  border: none;
}
.vuepress-theme h1,
.vuepress-theme h2,
.vuepress-theme h3,
.vuepress-theme h4,
.vuepress-theme h5,
.vuepress-theme h6 {
  font-weight: 600;
  color: #273849;
  line-height: 1.45;
  position: relative;
  margin-top: 1em;
}
.vuepress-theme h1 {
  font-size: 2.2em;
  margin: 1em 0;
}
.vuepress-theme h2 {
  font-size: 1.65em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}
.vuepress-theme h3 {
  line-height: 1.35em;
}
.vuepress-theme a {
  text-decoration: none;
  color: #42b983;
  font-weight: 600;
}
.vuepress-theme img {
  max-width: 100%;
}
.vuepress-theme div[inline] > figure {
  display: inline-block;
  padding-right: 0.5em;
}
.vuepress-theme div[inline] > figure img {
  padding: 0;
  border: none;
}
.vuepress-theme em {
  color: #4f5959;
  padding: 0 6px 0 4px;
}
.vuepress-theme figure {
  margin: 0;
}
.vuepress-theme figure figcaption {
  color: #888;
  text-align: center;
  font-size: 0.875em;
  margin-top: 5px;
}
.vuepress-theme code {
  color: #d63200;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
.vuepress-theme p {
  word-spacing: 0.05em;
}
.vuepress-theme p:empty {
  display: none;
}
.vuepress-theme blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #42b983;
}
.vuepress-theme blockquote p {
  margin-left: 0;
  margin-top: 1.2em;
  margin-bottom: 0;
  padding: 0;
}
.vuepress-theme pre,
.vuepress-theme code {
  background-color: #f8f8f8;
}
.vuepress-theme pre {
  border-radius: 2px;
  position: relative;
  font-size: 0.875em;
  margin: 1em 0;
}
.vuepress-theme pre code {
  overflow-x: auto;
  color: #747384;
  white-space: pre;
  padding: 1em;
  font-size: 0.85rem;
  line-height: 1.6rem;
}
.vuepress-theme pre .copy-button {
  color: #999;
  position: absolute;
  font-size: 12px;
  top: 9px;
  right: 10px;
  cursor: pointer;
  display: none;
}
.vuepress-theme pre:hover .copy-button {
  display: initial;
}
.vuepress-theme table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.vuepress-theme table tr {
  border-top: 1px solid #dfe2e5;
}
.vuepress-theme table tr th,
.vuepress-theme table tr td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.vuepress-theme table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.vuepress-theme p,
.vuepress-theme ol,
.vuepress-theme ul {
  line-height: 1.6em;
  margin: 1.2em 0;
  position: relative;
  z-index: 1;
}
.vuepress-theme ul,
.vuepress-theme ol {
  padding-left: 1.25em;
  line-height: 1.4em;
}
.vuepress-theme ul li,
.vuepress-theme ol li {
  margin: 1.2em 0;
}

.md-dark .vuepress-theme {
  color: #999;
}
.md-dark .vuepress-theme ::-webkit-scrollbar-corner,
.md-dark .vuepress-theme ::-webkit-scrollbar-track {
  background-color: #0f0f0f;
}
.md-dark .vuepress-theme ::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
}
.md-dark .vuepress-theme ::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #3a3a3a;
}
.md-dark .vuepress-theme ::-webkit-scrollbar-thumb:vertical:active {
  background-color: #3a3a3a;
}
.md-dark .vuepress-theme hr {
  border-color: #2d2d2d;
}
.md-dark .vuepress-theme h1,
.md-dark .vuepress-theme h2,
.md-dark .vuepress-theme h3,
.md-dark .vuepress-theme h4,
.md-dark .vuepress-theme h5,
.md-dark .vuepress-theme h6,
.md-dark .vuepress-theme strong {
  color: #999;
}
.md-dark .vuepress-theme h2 {
  border-color: #2d2d2d;
}
.md-dark .vuepress-theme code {
  color: #e06c75;
  background-color: #1a1a1a;
}
.md-dark .vuepress-theme pre {
  background-color: #1a1a1a;
}
.md-dark .vuepress-theme pre code {
  background-color: #1a1a1a;
  color: #999;
}
.md-dark .vuepress-theme pre::before {
  background-color: #1a1a1a;
}
.md-dark .vuepress-theme table tr th,
.md-dark .vuepress-theme table tr td {
  border-color: #2d2d2d;
}
.md-dark .vuepress-theme table tr:nth-child(2n) {
  background-color: #0c0c0c;
}