@import './scss-vars.scss';

@import './modules/code.scss';
@import './modules/heading.scss';
@import './modules/image.scss';
@import './modules/link.scss';
@import './modules/list.scss';
@import './modules/paragraph.scss';
@import './modules/quote.scss';
@import './modules/table.scss';

@mixin theme-vars($isDark) {
  .#{$theme-name} {
    --vuepress-theme-color: #{if($isDark, #999, #304455)};
  }
}

// 亮模式
.#{$prefix} {
  @include theme-vars(false);
}

// 暗模式
.#{$prefix}-dark {
  @include theme-vars(true);
}

.#{$theme-name} {
  @include common-style;
  font-size: 16px;
  color: var(--vuepress-theme-color);

  em {
    color: #4f5959;
    padding: 0 6px 0 4px;
  }
}
