@mixin heading-vars($isDark) {
  div.#{$theme-name} {
    --md-theme-heading-color: var(#{$id}-title-color);
  }
}

.#{$prefix} {
  @include heading-vars(false);
}

// .#{$prefix}-dark {
//   @include heading-vars(true);
// }

.#{$theme-name} {
  h1 {
    @include headTitle(4px, 30px);
    @include transitionColor();
  }

  h2 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    @include headTitle(10px, 24px);
    border-bottom: 1px solid var(--md-theme-border-color-2);
    @include transitionColor();

    &::before {
      content: '「';
      position: absolute;
      top: -6px;
      left: -14px;
    }

    &::after {
      content: '」';
      position: relative;
      top: 6px;
      right: auto;
    }
  }

  h3 {
    position: relative;
    @include headTitle(0, 20px, 30px);
    padding-left: 6px;
    @include transitionColor();

    &::before {
      content: '»';
      padding-right: 6px;
      color: var(--md-theme-strong-color);
    }
  }

  h4 {
    @include headTitle(0, 16px, 24px);
    padding-left: 6px;
    @include transitionColor();
  }

  h5 {
    @include headTitle(0, 14px, 18px);
    padding-left: 6px;
    @include transitionColor();
  }

  h6 {
    @include headTitle(0, 12px, 12px);
    padding-left: 6px;
    @include transitionColor();
  }

  // selection
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &::selection {
      @include selectionColor();
      color: var(--md-theme-slct-title-color);
      background-color: var(--md-theme-slct-titlebg-color);
    }
  }

  // @media
  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }
  }
}
