@use '../../../common/scss-vars' as csv;
@use '../scss-vars' as sv;

@mixin heading-vars($isDark) {
  div.#{sv.$theme-name} {
    --md-theme-heading-color: var(#{sv.$id}-title-color);
  }
}

.#{csv.$prefix} {
  @include heading-vars(false);
}

// .#{csv.$prefix}-dark {
//   @include heading-vars(true);
// }

div.#{sv.$theme-name} {
  h1 {
    @include sv.headTitle(4px, 30px);
    @include sv.transitionColor();
  }

  h2 {
    position: relative;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    @include sv.headTitle(10px, 24px);
    border-block-end: 1px solid var(--md-theme-border-color-2);
    @include sv.transitionColor();

    &::before {
      content: '「';
      position: absolute;
      inset-block-start: -6px;
      inset-inline-start: -14px;
    }

    &::after {
      content: '」';
      position: relative;
      inset-block-start: 6px;
      inset-inline-end: auto;
    }
  }

  h3 {
    position: relative;
    @include sv.headTitle(0, 20px, 30px);
    padding-inline-start: 6px;
    @include sv.transitionColor();

    &::before {
      content: '»';
      padding-inline-end: 6px;
      color: var(--md-theme-strong-color);
    }
  }

  h4 {
    @include sv.headTitle(0, 16px, 24px);
    padding-inline-start: 6px;
    @include sv.transitionColor();
  }

  h5 {
    @include sv.headTitle(0, 14px, 18px);
    padding-inline-start: 6px;
    @include sv.transitionColor();
  }

  h6 {
    @include sv.headTitle(0, 12px, 12px);
    padding-inline-start: 6px;
    @include sv.transitionColor();
  }

  // selection
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &::selection {
      @include sv.selectionColor();
      color: var(--md-theme-slct-title-color);
      background-color: var(--md-theme-slct-titlebg-color);
    }
  }

  // @media
  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }
  }
}
