@use '../scss-vars' as sv;

div.#{sv.$theme-name} {
  p {
    line-height: inherit;
    margin-block-start: sv.$line-space;
    margin-block-end: sv.$line-space;

    &::selection {
      color: var(--md-theme-slct-text-color);
      background-color: var(--md-theme-slct-bg-color);
    }
  }
}
