.#{$theme-name} {
  blockquote {
    color: var(--#{$theme-name}-blockquote-color);
    border-left: 4px solid var(--#{$theme-name}-strong-color);
    background-color: var(--#{$theme-name}-blockquote-bg-color);
    padding: 1px 20px;
    margin: 22px 0;
    @include transitionColor();

    &::after {
      display: block;
      content: '';
    }

    & > p {
      margin: 10px 0;
    }

    & > b,
    & > strong {
      color: var(--#{$theme-name}-strong-color);
    }
  }
}
