@use '../../common/scss-vars' as csv;
@use './scss-vars' as sv;

@use './modules/code';
@use './modules/heading';
@use './modules/image';
@use './modules/link';
@use './modules/list';
@use './modules/paragraph';
@use './modules/quote';
@use './modules/table';

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin theme-mix($isDark) {
  @if $isDark {
    background-image: linear-gradient(90deg, rgba(217, 234, 251, 0.25) 3%, rgba(0, 0, 0, 0) 3%),
      linear-gradient(360deg, rgba(217, 234, 251, 0.25) 3%, rgba(0, 0, 0, 0) 3%);
  } @else {
    background-image: linear-gradient(90deg, rgb(50 58 66 / 25%) 3%, rgba(0, 0, 0, 0) 3%),
      linear-gradient(360deg, rgb(50 58 66 / 25%) 3%, rgba(0, 0, 0, 0) 3%);
  }
}

// 亮模式
.#{csv.$prefix} {
  div.#{sv.$theme-name} {
    --md-theme-color: #{sv.$theme-color};
    @include theme-mix(false);
  }
}

// 暗模式
.#{csv.$prefix}-dark {
  div.#{sv.$theme-name} {
    @include theme-mix(true);

    --md-theme-bg-color-scrollbar-thumb: #4d4d4d;
  }
}

div.#{sv.$theme-name} {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  // font-size: 15px;
  overflow-x: hidden;
  // color: sv.$theme-color;
  background-size: 20px 20px;
  background-position: center center;

  hr {
    position: relative;
    width: 98%;
    height: 1px;
    border: none;
    margin-top: 32px;
    margin-bottom: 32px;
    background-image: linear-gradient(to right, sv.$theme-color, #dff0fe, sv.$theme-color);
    overflow: visible;
  }

  del {
    color: sv.$theme-color;
  }
}
