.#{$prefix}-preview {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    word-break: break-all;

    a {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
  }
}
