@use '../../common/scss-vars' as csv;
@use './scss-vars' as sv;

@use './modules/code';
@use './modules/heading';
@use './modules/image';
@use './modules/link';
@use './modules/list';
@use './modules/paragraph';
@use './modules/quote';
@use './modules/table';

@mixin theme-vars($isDark) {
  div.#{sv.$theme-name} {
    --md-theme-color: #{if($isDark, #999, #595959)};
  }
}

@mixin theme-mix($isDark) {
  div.#{sv.$theme-name} {
    @if $isDark {
      background-image: linear-gradient(
          90deg,
          rgba(207, 207, 207, 0.04) 3%,
          rgba(255, 255, 255, 0) 3%
        ),
        linear-gradient(360deg, rgba(207, 207, 207, 0.04) 3%, rgba(255, 255, 255, 0) 3%);
    } @else {
      background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.04) 3%, rgba(0, 0, 0, 0) 3%),
        linear-gradient(360deg, rgba(60, 10, 30, 0.04) 3%, rgba(0, 0, 0, 0) 3%);
    }
  }
}

// 亮模式
.#{csv.$prefix} {
  @include theme-vars(false);
  @include theme-mix(false);
}

// 暗模式
.#{csv.$prefix}-dark {
  @include theme-vars(true);
  @include theme-mix(true);
}

div.#{sv.$theme-name} {
  // padding: 16px;
  color: var(--md-theme-color);
  // font-size: 15px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-size: 20px 20px;
  background-position: center center;

  strong {
    color: #036aca;
  }

  em {
    strong {
      color: #036aca;
    }
  }
  hr {
    border-top: 1px solid #135ce0;
  }
}
