@mixin quote-vars($isDark) {
  div.#{$theme-name} {
    --md-theme-quote-border: 5px solid #35b378;
    --md-theme-quote-bg-color: var(--md-theme-bg-color-inset);
  }
}

.#{$prefix} {
  @include quote-vars(false);
}

// .#{$prefix}-dark {
//   @include quote-vars(true);
// }

div.#{$theme-name} {
  blockquote {
    margin: 20px 0;
    padding: 0 1.2em;
    line-height: 2em;
    display: block;
    overflow: auto;
  }
}
