@use '../../../common/scss-vars' as csv;
@use '../scss-vars' as sv;

@mixin code-vars($isDark) {
  div.#{sv.$theme-name} {
    // 行内
    --md-theme-code-inline-color: #{if($isDark, #e06c75, #d63200)};
    --md-theme-code-inline-bg-color: #{if($isDark, #1a1a1a, #f8f8f8)};

    // 块
    --md-theme-code-block-color: #{if($isDark, #999, #747384)};
    // 背景
    --md-theme-code-block-bg-color: #{if($isDark, #1a1a1a, #f8f8f8)};
    // 顶部背景
    --md-theme-code-before-bg-color: var(--md-theme-code-block-bg-color);
    // 圆角
    --md-theme-code-block-radius: 2px;
  }
}

.#{csv.$prefix} {
  @include code-vars(false);
}

.#{csv.$prefix}-dark {
  @include code-vars(true);
}

div.#{sv.$theme-name} {
  code {
    padding: 3px 5px;
    margin: 0 2px;
  }

  .#{csv.$prefix}-code {
    pre {
      font-size: 0.875em;
      margin: 0 0 1em;

      code {
        white-space: pre;
        padding: 22px 1em;
        margin: 0;

        // 带行号的代码
        span[rn-wrapper] {
          top: 22px;
        }
      }
    }
  }
}
