@use '../../../common/scss-vars' as csv;
@use '../scss-vars' as sv;

@mixin quote-vars($isDark) {
  div.#{sv.$theme-name} {
    --md-theme-quote-border: 4px solid #42b983;
  }
}

.#{csv.$prefix} {
  @include quote-vars(false);
}

// .#{csv.$prefix}-dark {
//   @include quote-vars(true);
// }

div.#{sv.$theme-name} {
  blockquote {
    margin: 2em 0;
    padding-inline-start: 20px;

    p {
      margin-inline-start: 0;
      margin-block-start: 1.2em;
      margin-block-end: 0;
      padding: 0;
    }
  }
}
