@mixin code-vars($isDark) {
  .#{$theme-name} {
    --#{$theme-name}-code-inline-color: #{if($isDark, #c9d1d9, inherit)};
    --#{$theme-name}-code-inline-bg-color: #{if($isDark, #2d3339, #eff1f2)};

    --#{$theme-name}-code-block-color: #{if($isDark, #a9b7c6, inherit)};
    --#{$theme-name}-code-block-bg-color: #{if($isDark, #161b22, #f6f8fa)};
  }
}

.#{$prefix} {
  @include code-vars(false);
}

.#{$prefix}-dark {
  @include code-vars(true);
}

.#{$theme-name} {
  code {
    padding: 0.2em 0.4em;
    margin: 0;
    color: var(--#{$theme-name}-code-inline-color);
    background-color: var(--#{$theme-name}-code-inline-bg-color);
    border-radius: 6px;
  }

  pre {
    border-radius: 6px;
    position: relative;

    code {
      position: relative;
      padding: 22px 1em;
      margin-bottom: 0;
      word-break: normal;
      letter-spacing: 1px;
      color: var(--#{$theme-name}-code-block-color);
      background-color: var(--#{$theme-name}-code-block-bg-color);

      > * {
        line-height: 1.6;
      }

      // 带行号的代码
      span[rn-wrapper] {
        top: 22px;
      }
    }

    .copy-button {
      color: #999;
      position: absolute;
      font-size: 12px;
      top: 8px;
      right: 12px;
      cursor: pointer;
    }
  }
}
