@mixin image-vars($isDark) {
  .#{$theme-name} {
    --github-theme-heading-bg-color: #{if($isDark, #22272e, #fff)};
  }
}

.#{$prefix} {
  @include image-vars(false);
}

.#{$prefix}-dark {
  @include image-vars(true);
}

.#{$theme-name} {
  img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--github-theme-heading-bg-color);
  }

  // // 引用中的表格
  // blockquote {
  //   img {
  //     // border-color: var(--md-theme-border-color-inset);
  //   }
  // }
}
