@mixin heading-vars($isDark) {
  div.#{$theme-name} {
    --md-theme-link-color: #539bf5;
    --md-theme-link-hover-color: #539bf5;
  }
}

.#{$prefix} {
  @include heading-vars(false);
}

div.#{$theme-name} {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
