@use '../../../common/scss-vars' as csv;
@use '../scss-vars' as sv;

@mixin heading-vars($isDark) {
  div.#{sv.$theme-name} {
    --md-theme-link-color: #539bf5;
    --md-theme-link-hover-color: #539bf5;
  }
}

.#{csv.$prefix} {
  @include heading-vars(false);
}

div.#{sv.$theme-name} {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
