@mixin quote-vars($isDark) {
  article.#{$theme-name} {
    --#{$theme-name}-quote-color: #{if($isDark, #8b949e, #57606a)};
    --#{$theme-name}-quote-border-color: #{if($isDark, #444c56, #d0d7de)};
  }
}

.#{$prefix} {
  @include quote-vars(false);
}

.#{$prefix}-dark {
  @include quote-vars(true);
}

.#{$theme-name} {
  blockquote {
    padding: 0 1em;
    color: var(--#{$theme-name}-quote-color);
    border-left: 0.25em solid var(--#{$theme-name}-quote-border-color);
  }
}
