$prefix: 'md';

$baseSize: 16px;

$color: #222;
$colorDark: #999;

$colorReverse: #eee;
$colorDarkReverse: #222;

$borderColor: #e6e6e6;
$borderColorDark: #2d2d2d;

$borderColorReverse: #bebebe;
$borderColorDarkReverse: #e6e6e6;

$bkColor: #fff;
$bkColorDark: #000;

$codeBkColor: #282c34;
$codeBkColorDark: #1a1a1a;

$hover: #eee;
$hoverdark: #191919;

// 在默认背景下凸出背景
$bbkColor: #ececec;
$bbkColorDark: #111;

// 模仿antd的主色调
$primaryColor: #73d13d;

$darkClass: 'md-dark';

@mixin commonStyle {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    a {
      color: inherit;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  pre,
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    font-size: 14px;
    color: rgb(36, 41, 47);
  }

  hr {
    height: 1px;
    margin: 10px 0;
    border: none;
    border-top: 1px solid #eaecef;
  }

  // 包裹的图片按照行显示
  div[inline] {
    & > figure {
      display: inline-block;
      padding-right: 0.5em;

      img {
        padding: 0;
        border: none;
      }
    }
  }

  // show code row numer，显示代码行号
  .#{$prefix}-scrn {
    span[rn-wrapper] {
      position: absolute;
      pointer-events: none;
      top: 1em;
      font-size: 100%;
      left: 0;
      width: 3em;
      letter-spacing: -1px;
      user-select: none;
      counter-reset: linenumber;

      & > span {
        display: block;
        pointer-events: none;
        counter-increment: linenumber;

        &::before {
          color: #999;
          display: block;
          padding-right: 0.5em;
          text-align: right;
          content: counter(linenumber);
        }
      }
    }

    pre {
      code {
        padding-left: 3.5em !important;
      }
    }
  }
}

@mixin commonDarkStyle {
  hr {
    border-color: $borderColorDark;
  }
}

.#{$darkClass} {
  background-color: $bkColorDark;
}
