@use '../../../common/scss-vars' as csv;
@use '../scss-vars' as sv;

div.#{sv.$theme-name} {
  ul,
  ol {
    margin-block-start: 1em;
  }

  // ul {
  //   list-style: disc;
  // }

  li {
    line-height: 2;
    margin-block-end: 0;
    list-style: inherit;
  }
}
