@mixin table-vars($isDark) {
  article.#{$theme-name} {
    // 边框
    --md-theme-table-border-color: #{if($isDark, #2d2d2d, #dfe2e5)};
    // 斑马条纹
    --md-theme-table-bg-color: #{if($isDark, #0c0c0c, #f6f8fa)};
  }
}

.#{$prefix} {
  @include table-vars(false);
}

.#{$prefix}-dark {
  @include table-vars(true);
}

.#{$theme-name} {
  table {
    border-collapse: collapse;
    margin: 1rem 0;
    overflow-x: auto;
    tr {
      border-top: 1px solid var(--md-theme-table-border-color);
      &:nth-child(2n) {
        background-color: var(--md-theme-table-bg-color);
      }

      th,
      td {
        border: 1px solid var(--md-theme-table-border-color);
        padding: 0.6em 1em;
      }
    }
  }

  // 引用中的表格
  blockquote {
    table {
      line-height: initial;

      tr {
        th,
        td {
          border-color: var(--md-theme-border-color-inset);
        }
      }

      tbody {
        tr {
          &:nth-child(n) {
            background-color: inherit;
          }
        }
      }
    }
  }
}
