@use '../../../common/scss-vars' as csv;
@use '../scss-vars' as sv;

@mixin table-vars($isDark) {
  div.#{sv.$theme-name} {
    // 边框
    --md-theme-table-td-border-color: #{if($isDark, #2d2d2d, #dfe2e5)};
    // 斑马条纹
    --md-theme-table-stripe-color: #{if($isDark, #0c0c0c, #f6f8fa)};
  }
}

.#{csv.$prefix} {
  @include table-vars(false);
}

.#{csv.$prefix}-dark {
  @include table-vars(true);
}

div.#{sv.$theme-name} {
  table {
    border-collapse: collapse;
    margin: 1rem 0;
    overflow-x: auto;
    tr {
      th,
      td {
        padding: 0.6em 1em;
      }
    }
  }

  // 引用中的表格
  blockquote {
    table {
      line-height: initial;

      tr {
        th,
        td {
          border-color: var(--md-theme-border-color-inset);
        }
      }

      tbody {
        tr {
          &:nth-child(n) {
            background-color: inherit;
          }
        }
      }
    }
  }
}
