$fontColorDark: #999;

.smart-blue-theme {
  @include commonStyle;

  padding: 16px;
  color: #595959;
  // font-size: 15px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-image: linear-gradient(
      90deg,
      rgba(60, 10, 30, 0.04) 3%,
      rgba(0, 0, 0, 0) 3%
    ),
    linear-gradient(360deg, rgba(60, 10, 30, 0.04) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
  background-position: center center;
  p {
    // font-size: 15px;
    line-height: 2;
    font-weight: 400;
    & + p {
      margin-top: 16px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 30px 0;
    margin: 0;
    color: #135ce0;

    a {
      border: none;
    }
  }

  h1 {
    position: relative;
    text-align: center;
    font-size: 22px;
    margin: 50px 0;
  }
  h2 {
    position: relative;
    font-size: 20px;
    border-left: 4px solid;
    padding: 0 0 0 10px;
    margin: 30px 0;
  }
  h3 {
    font-size: 16px;
  }

  ul {
    list-style: disc outside;
    margin-top: 1em;
    padding-left: 1.6em;
  }
  li {
    line-height: 2;
    margin-bottom: 0;
    list-style: inherit;
  }
  img {
    max-width: 100%;
    &.loaded {
      margin: 0 auto;
      display: block;
    }
  }
  blockquote {
    background: #fff9f9;
    margin: 2em 0;
    padding: 2px 20px;
    border-left: 4px solid #b2aec5;
    p {
      color: #666;
      line-height: 2;
    }
  }
  a {
    color: #036aca;
    // border-bottom: 1px solid rgba(3, 106, 202, 0.8);
    font-weight: 400;
    text-decoration: none;
  }
  strong {
    color: #036aca;
  }
  em {
    strong {
      color: #036aca;
    }
  }
  hr {
    border-top: 1px solid #135ce0;
  }
  pre {
    code {
      // font-size: 0.85rem;
      padding: 22px 12px;
      margin: 0;
      word-break: normal;
      display: block;
      overflow-x: auto;
      color: #333;
      background: #f8f8f8;

      > * {
        line-height: 1.6;
      }
    }

    .copy-button {
      color: $colorDark;
      position: absolute;
      font-size: 12px;
      top: 9px;
      right: 10px;
      cursor: pointer;
      display: none;
    }

    &:hover {
      .copy-button {
        display: initial;
      }
    }
  }
  code {
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: #fff5f5;
    color: #ff502c;
    // font-size: 0.87em;
    padding: 0.065em 0.4em;
  }
  table {
    border-collapse: collapse;
    margin: 1rem 0;
    overflow-x: auto;
    tr {
      border-top: 1px solid #dfe2e5;
      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
  }
}

.smart-blue-theme pre,
.smart-blue-theme code {
  overflow: auto;
  position: relative;
  line-height: 1.75;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}
/* 表格 */
.smart-blue-theme table th,
.smart-blue-theme table td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

.smart-blue-theme {
  .md-scrn span[rn-wrapper] {
    top: 22px;
  }
}

.#{$darkClass} {
  .smart-blue-theme {
    @include commonDarkStyle;
    color: $fontColorDark;
    background-image: linear-gradient(
        90deg,
        rgba(207, 207, 207, 0.04) 3%,
        rgba(255, 255, 255, 0) 3%
      ),
      linear-gradient(
        360deg,
        rgba(207, 207, 207, 0.04) 3%,
        rgba(255, 255, 255, 0) 3%
      );

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #3a73dd;
    }

    a {
      color: #2d7dc7;
    }

    blockquote {
      background-color: #2a2a2a;
      border-color: #0063bb;

      p {
        color: $fontColorDark;
      }
    }

    pre {
      code {
        color: $fontColorDark;
        background-color: #1a1a1a;
      }
    }

    code {
      background-color: $codeBkColorDark;
    }

    table {
      tr {
        th,
        td {
          border-color: $borderColorDark;
        }

        &:nth-child(2n) {
          background-color: #0c0c0c;
        }
      }
    }
  }
}
